@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  background-color: #111111 !important;
}

@utility paused {
    animation-play-state: paused;
}

.prose * {
  color: white !important;
} 

.toastify-success {
  background-color: #111111 !important;
  color: white;
  border: 2px solid #222222;
}

.toastify-error {
  background-color: #111111 !important;
  color: white;
  border: 2px solid #222222;
}